body {
  background-color: #e4c4b5;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
  width: calc(30vw + 250px);
  margin:auto;
}

.row {
  border-radius: 5px;
  border: solid 1px;
  padding: 10px;
  background-color: white;
}

#contactBtn {
  background-color: rgb(168, 58, 7);
  border:none;
  border-radius: 3px;
  font-size: 20px;
  padding: 10px;
  color: white;
  cursor: pointer;
}